<!DOCTYPE html>
<html>
<head>
    <title>BarkDB: Main Menu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4 text-center text-decoration-underline">Welcome to BarkDB</h1>

    <div class="d-grid gap-3 col-6 mx-auto">
        <a href="/signup" class="btn btn-success">👤 User Signup</a>
        <a href="/view" class="btn btn-info">View Data</a>
        <a href="/update" class="btn btn-outline-primary">🔄 Update a Provider</a>
        <a href="/delete_user_form" class="btn btn-outline-danger">👤 Delete a User</a>
        <a href="/delete_booking_form" class="btn btn-outline-warning">📅 Delete a Booking</a>
        <a href="/add_review" class="btn btn-warning"> Add Review</a>
        <a href="/search_form" class="btn btn-outline-dark"> Search for Sitter</a>
        <a href="/analytics" class="btn btn-secondary">📈 View Analytics</a>
    </div>
</div>
</body>
</html>